<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/images2/p1.jpg" alt="slide" style="display: block; width: 100%;">
    </slide>

    <slide>
        <img src="assets/images/images2/p2.png" alt="slide" style="display: block; width: 100%;">
    </slide>

    <slide>
        <img src="assets/images/images2/p5.jpg" alt="slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/images2/p4.webp" alt="slide" style="display: block; width: 100%;">
    </slide>
</carousel>

<div class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1><b>Lego-Shop</b></h1>
    </div>
</div>