<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bg-dark text-white">
          Products List
        </div>
        <div class="card-body p-0">
          <table class="table table-striped table-hover mb-0">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Type</th>
              <th>Brand</th>
              <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.productType }}</td>
              <td>{{ product.productBrand }}</td>
              <td>${{ product.price }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5 mb-4" *ngIf="totalcount>0" >
      <app-pager
        [totalcount] = "totalcount"
        [pageSize] = "shopParams.pageSize"
        [pageNumber]="shopParams.pageNumber"
        (pageChanged) ="onPageChanged($event)"
      ></app-pager>
    </div>
  </div>
<!--<div class="container mt-5">
  &lt;!&ndash; Form for creating a new product &ndash;&gt;
  <div class="row mb-4">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Add New Product
        </div>
        <div class="card-body">
          <div class="form-group mb-2">
            <label for="productName">Product Name</label>
            <input id="productName" type="text" class="form-control" [(ngModel)]="newProduct.name" placeholder="Enter product name">
          </div>
          <div class="form-group mb-2">
            <label for="productPrice">Price</label>
            <input id="productPrice" type="number" class="form-control" [(ngModel)]="newProduct.price" placeholder="Enter price">
          </div>
          <div class="form-group mb-2">
            <label for="productDescription">Description</label>
            <textarea id="productDescription" class="form-control" [(ngModel)]="newProduct.description" placeholder="Enter description"></textarea>
          </div>
          <div class="form-group mb-2">
            <label for="productType">Product Type</label>
            <input id="productType" type="text" class="form-control" [(ngModel)]="newProduct.productType" placeholder="Enter product type">
          </div>
          <div class="form-group mb-2">
            <label for="productBrand">Product Brand</label>
            <input id="productBrand" type="text" class="form-control" [(ngModel)]="newProduct.productBrand" placeholder="Enter product brand">
          </div>
          <div class="form-group mb-2">
            <label for="pictureUrl">Picture URL</label>
            <input id="pictureUrl" type="text" class="form-control" [(ngModel)]="newProduct.pictureUrl" placeholder="Enter picture URL">
          </div>
          <button class="btn btn-success btn-block" (click)="onCreateProduct()">Add Product</button>
        </div>
      </div>
    </div>
  </div>-->
<!--</div>-->
